<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
    <meta charset="UTF-8">
    <title>Booking.city</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"
          crossorigin="anonymous">
    <bean id="templateEngine" class="org.thymeleaf.spring3.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
        <property name="additionalDialects">
            <set>
                <bean class="org.thymeleaf.extras.springsecurity4.dialect.SpringSecurityDialect" />
            </set>
        </property>
    </bean>
</head>
<body  ng-app="app" ng-controller="CityCtrl" >
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto  nav-pills nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Booking</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="flights.html">Flights</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="airports.html">Airports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aircraft.html">Aircraft</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="city.html">City</a>
            </li>
        </ul >
        <ul class="navbar-nav">
            <li class=nav-item">
                <h3 sec:authentication="name" align="left"></h3>
            </li>
            <li class=nav-item">
                <a class="btn btn-outline-secondary" href="/logout">logout</a>
            </li>
        </ul>
    </nav>
<form id="form1" style="display: none;">
<div class="container" align="center">
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>
    <table>
    <tr>
        <td width="100">ID:</td>
        <td><input type="text" id="id" ng-model="city.id" /></td>
    </tr>
    <tr>
        <td width="100">Name City:</td>
        <td><input type="text" id="nameCity" ng-model="city.nameCity" /></td>
    </tr>
    </table>
    <a ng-click="updateCity(city.id,city.nameCity)"class="btn btn-outline-secondary">Update City</a>
    <a ng-click="addCity(city.nameCity)"class="btn btn-outline-success">Add City</a>
</div>
</form>
<div class="container mt-5" >
    <a  class="btn btn-outline-secondary" value="update" onclick="disp(document.getElementById('form1'))">redact</a>
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <th>id  City </th>
        <th>name City</th>
        <th>        </th>
        </thead>
        <tbody class="table-bordered">
        <tr ng-repeat="city in cities">
            <td>{{city.id}}</td>
            <td>{{city.nameCity}}</td>
            <td>
                <button id="remove" ng-click="deleteCity(city.id)" class= "btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
<script type="text/javascript" src="js/components/angular.min.js"></script>
<script type="text/javascript" src="js/components/city/city.js"></script>
</html>