<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body class="container-fluid" ng-app="FlightsController" ng-controller="FlightsCtrl">

<div sec:authorize="hasAuthority('ADMIN')">
    <ul class="nav nav-pills  nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/">Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/flights.html">Flights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/airports.html">Airports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user.html">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/city.html">City</a>
        </li>
        <a class="btn btn-outline-secondary" href="/logout">logout</a>
        <h3 sec:authentication="name" align="left">name</h3>
    </ul>
</div>
<div class="container">
    <div class="container" align="center">
        <p style="color: green">{{message}}</p>
        <p style="color: red">{{errorMessage}}</p>
        <table>
            <tr>
                <td width="100">ID:</td>
                <td><input type="text" id="id" ng-model="flight.id"/></td>
            </tr>
            <tr>
                <td width="100">Name Flight:</td>
                <td><input type="text" id="numFlight" ng-model="flight.numFlight"/></td>
            </tr>
            <tr>
                <td>airportDeparture</td>
                <td><select ng-model="flight.airportDeparture" style="width:100%">
                    <option ng-repeat="airport in airports"
                            value="{{airport}}">
                        {{airport.nameAirport}}
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>airportDeparture</td>
                <td><select ng-model="flight.airportArrival" style="width:100%">
                    <option ng-repeat="airport in airports"
                            value="{{airport}}">
                        {{airport.nameAirport}}
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td width="100">Date:</td>
                <td><input type="text" id="Date" ng-model="flight.departureDate"/></td>
            </tr>
            <tr>
                <td width="100">Time:</td>
                <td><input type="text" id="Time" ng-model="flight.departureTime"/></td>
            </tr>
            <tr>
                <td width="100">Price:</td>
                <td><input type="text" id="price" ng-model="flight.price"/></td>
            </tr>
            <tr>
                <td>Aircraft</td>
                <td><select ng-model="flight.aircraft" style="width:100%">
                    <option ng-repeat="aircraft in aircrafts"
                            value="{{aircraft}}">
                        {{aircraft.nameAircraft}}
                    </option>
                </select>
                </td>
            </tr>

        </table>
        <a ng-click="updateFlight( flight.id,flight.numFlight, flight.airportDeparture, flight.airportArrival, flight.departureDate, flight.departureTime, flight.aircraft, flight.price)"
           class="btn btn-outline-secondary">Update Airport</a>
        <a ng-click="addFlight(flight.numFlight, flight.airportDeparture, flight.airportArrival, flight.departureDate, flight.departureTime, flight.aircraft, flight.price)"
           class="btn btn-outline-success">Add Airport</a>
        <a ng-click="deleteFlight(flight.id)" class="btn btn-outline-danger">Delete Airport</a>
        <a ng-click="getFlight(flight.id)" class="btn btn-outline-secondary">Get Airport</a>
    </div>
</div>
<div class="container">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <th>id</th>
        <th>numFlight</th>
        <th>Airport depart</th>
        <th>Airport arrival</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Aircraft</th>
        <th>Places</th>
        </thead>
        <tbody class="table-bordered">
        <tr ng-repeat="flight in flights">
            <td>{{flight.idFlight}}</td>
            <td>{{flight.numFlight}}</td>
            <td>{{flight.airportDeparture.nameAirport}}</td>
            <td>{{flight.airportArrival.nameAirport}}</td>
            <td>{{flight.departureDate}}</td>
            <td>{{flight.departureTime}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.aircraft.nameAircraft}}</td>
            <td>{{flight.aircraft.numberSeatsAircraft}}</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/components/angular.min.js"></script>
<script type="text/javascript" src="js/components/flight/flights.js"></script>
</body>
</html>