<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <script>
        function disp(form) {
            if (form.style.display == "none") {
                form.style.display = "block";
            } else {
                form.style.display = "none";
            }
        }
    </script>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body  ng-app="FlightsController" ng-controller="FlightsCtrl">
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto  nav-pills nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link  active" href="/flights.html">Flights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/airports.html">Airports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aircraft.html" sec:authorize="hasAuthority('ADMIN')">Aircraft</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/city.html">City</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/user.html">User</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reserved.html">Reserved</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <h3 sec:authentication="name" align="left"></h3>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary" href="/logout">logout</a>
        </li>
    </ul>
</nav>
<form id="form1" style="display: none;">
<div class="container">
    <div class="container" align="center">
        <p style="color: green">{{message}}</p>
        <p style="color: red">{{errorMessage}}</p>
        <table>
            <tr>
                <td width="100">ID:</td>
                <td><input type="text" id="id" ng-model="flight.id"/></td>
            </tr>
            <tr>
                <td width="100">Name Flight:</td>
                <td><input type="text" id="numFlight" ng-model="flight.numFlight"/></td>
            </tr>
            <tr>
                <td>airportDeparture</td>
                <td><select ng-model="flight.airportDeparture" style="width:100%">
                    <option ng-repeat="airport in airports"
                            value="{{airport}}">
                        {{airport.nameAirport}}
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td>airportDeparture</td>
                <td><select ng-model="flight.airportArrival" style="width:100%">
                    <option ng-repeat="airport in airports"
                            value="{{airport}}">
                        {{airport.nameAirport}}
                    </option>
                </select>
                </td>
            </tr>
            <tr>
                <td width="100">Date:</td>
                <td><input type="text" id="Date" ng-model="flight.departureDate"/></td>
            </tr>
            <tr>
                <td width="100">Time:</td>
                <td><input type="text" id="Time" ng-model="flight.departureTime"/></td>
            </tr>
            <tr>
                <td width="100">Price:</td>
                <td><input type="text" id="price" ng-model="flight.price"/></td>
            </tr>
            <tr>
                <td>Aircraft</td>
                <td><select ng-model="flight.aircraft" style="width:100%">
                    <option ng-repeat="aircraft in aircrafts"
                            value="{{aircraft}}">
                        {{aircraft.nameAircraft}}
                    </option>
                </select>
                </td>
            </tr>
        </table>
        <a ng-click="updateFlight( flight.idFlight,flight.numFlight, flight.airportDeparture, flight.airportArrival, flight.departureDate, flight.departureTime, flight.aircraft, flight.price)"
           class="btn btn-outline-secondary">Update Flight</a>
        <a ng-click="addFlight(flight.numFlight, flight.airportDeparture, flight.airportArrival, flight.departureDate, flight.departureTime, flight.aircraft, flight.price)"
           class="btn btn-outline-success">Add Flight</a>
    </div>
</div>
</form>
<div class="container">
    <a  class="btn btn-outline-secondary" value="update" onclick="disp(document.getElementById('form1'))">redact</a>
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <th>numFlight</th>
        <th>Airport depart</th>
        <th>Airport arrival</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Aircraft</th>
        <th>Places</th>
        <th></th>
        </thead>
        <tbody class="table-bordered">
        <tr ng-repeat="flight in flights">
            <td>{{flight.numFlight}}</td>
            <td>{{flight.airportDeparture.nameAirport}}</td>
            <td>{{flight.airportArrival.nameAirport}}</td>
            <td>{{flight.departureDate}}</td>
            <td>{{flight.departureTime}}</td>
            <td>{{flight.price}}</td>
            <td>{{flight.aircraft.nameAircraft}}</td>
            <td>{{flight.aircraft.numberSeatsAircraft}}</td>
            <td>
                <button id="remove" ng-click="deleteFlight(flight.idFlight)" class= "btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="js/components/angular.min.js"></script>
<script type="text/javascript" src="js/components/flight/flights.js"></script>
</body>
</html>