<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Reserved</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body ng-app="MainController" ng-controller="MainCtrl">
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto  nav-pills nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Booking</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/reserved.html">Reserved</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <h3 sec:authentication="name" align="left"></h3>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary" href="/logout">logout</a>
        </li>
    </ul>
</nav>
<div class="container">
    <table class="table table-striped table-bordered" style="width:100%">
        <thead>
        <th>Aircraft</th>
        <th>Start Point</th>
        <th>End Point</th>
        <th>Date</th>
        <th>Time</th>
        <th>Number Flight</th>
        <th>Price</th>
        <th>Payment</th>
        <th></th>
        </thead>
        <tbody class="table-bordered">
        <tr ng-repeat="user_flight in user_flights">
            <td>{{user_flight.flightRoleUserDTO.aircraft.nameAircraft}}</td>
            <td>{{user_flight.flightRoleUserDTO.airportArrival.nameAirport}}</td>
            <td>{{user_flight.flightRoleUserDTO.airportDeparture.nameAirport}}</td>
            <td>{{user_flight.flightRoleUserDTO.departureDate}}</td>
            <td>{{user_flight.flightRoleUserDTO.departureTime}}</td>
            <td>{{user_flight.flightRoleUserDTO.numFlight}}</td>
            <td>{{user_flight.flightRoleUserDTO.price}}</td>
            <td>{{user_flight.payment}}</td>
            <td>
                <button id="remove" ng-click="deleteFlight(user_flight.id)" class= "btn btn-danger">Remove</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript" src="js/components/angular.min.js"></script>
<script type="text/javascript" src="js/components/main.js"></script>
</body>
</html>