<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Booking.com</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css" rel="stylesheet"
          crossorigin="anonymous">
</head>
<body class="container-fluid"ng-app="FlightsController"ng-controller="FlightsCtrl">
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <ul class="navbar-nav mr-auto  nav-pills nav">
        <li class="nav-item" >
            <a class="nav-link active" href="/">Booking</a>
        </li>
        <li  class="nav-item" sec:authorize="hasAuthority('ADMIN')">
            <a class="nav-link" href="/flights.html" >Flights</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/airports.html" sec:authorize="hasAuthority('ADMIN')">Airports</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/city.html" sec:authorize="hasAuthority('ADMIN')">City</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/aircraft.html" sec:authorize="hasAuthority('ADMIN')">Aircraft</a>
        </li>
    </ul>
    <ul class="navbar-nav">
        <li class="nav-item">
            <h3  sec:authentication="name" align="left"></h3>
        </li>
        <li class="nav-item">
            <a class="btn btn-outline-secondary" href="/logout">logout</a>
        </li>
    </ul>
</nav>
<div class="container">
    <table class="table-striped container-fluid" align="center">
        <thead>
        <th>numFlight</th>
        <th>Airport depart</th>
        <th>Airport arrival</th>
        <th>Date</th>
        <th>Time</th>
        <th>Name</th>
        <th></th>
        <th></th>
        </thead>
        <tbody class="table-bordered">
        <tr ng-repeat="flight in flights">
            <td>{{flight.numFlight}}</td>
            <td>{{flight.airportsDeparture.nameAirport}}</td>
            <td>{{flight.airportsArrival.nameAirport}}</td>
            <td>{{flight.departureDate}}</td>
            <td>{{flight.departureTime}}</td>
            <td>{{flight.aircraftName}}</td>
            <td>
                <a ng-click="editFlight(flight)" class="btn-outline-secondary">Edit</a>
            </td>
            <td>
                <a ng-click="deleteFlight(flight)" class="btn-outline-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/javascript" src="js/components/angular.min.js"></script>
<script type="text/javascript" src="js/components/flight/flights.js"></script>
</body>
</html>